<div class="resources grid grid-3col"> 

  <div class="resource flex-group-center">
    <label for="system.spellattack.value" class="resource-label" style="color:#03e8fc;">Spell Attack</label>
    <input type="text" name="system.spellattack.value" value="{{system.spellattack.value}}" data-dtype="Number" style="color:#03e8fc;"/>
  </div>
  
    <div class="resource flex-group-center">
      <label for="system.spelltest.value" class="resource-label" style="color:#03e8fc;">Spell Test</label>
      <input type="text" name="system.spelltest.value" value="{{system.spelltest.value}}" data-dtype="Number" style="color:#03e8fc;"/> </div>
  
      <div class="resource flex-group-center">
        <label for="system.maxtier.value" class="resource-label" style="color:#03e8fc;">Max Tier</label>
        <input type="text" name="system.maxtier.value" value="{{system.maxtier.value}}" data-dtype="Number" style="color:#03e8fc;"/> </div>
  
      </div>
      <br>

<ol class="items-list">
  {{#each spells as |spells spellLevel|}}
    <li class="item flexrow items-header" style="background-color:#1e2424">
      <div class="item-name" style="color:#03e8fc">Tier {{spellLevel}} Spells/Quickhacks</div>
      <div class="item-formula" style="color:#03e8fc">Attack Roll Formula</div>
      <div class="item-formula" style="color:#03e8fc">Base Damage</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}" style="color:#03e8fc"><i class="fas fa-plus"></i style="color:#03e8fc"> Add Tier {{spellLevel}}</a>
      </div>
    </li>
    {{#each spells as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" style="color:#03e8fc">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" style="color:#03e8fc"/></a>
          </div>
          <h4 style="color:#03e8fc">{{item.name}}</h4>
        </div>
        <div class="item-formula item-prop rollable manamod" data-label="Formula 2 Roll" data-roll="{{system.formula2}}" style="color:#03e8fc">{{system.formula2}}</div>
        <div class="item-formula item-prop rollable" data-roll-type="item" roll-value="{{system.formula}}" style="color:#03e8fc">{{system.formula}}</div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item" style="color:#03e8fc"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item" style="color:#03e8fc"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>



<div class="resources grid grid-3col"> 

<div class="resource flex-group-center">
  <label for="system.virtualstamina.value" class="resource-label" style="color:#03e8fc;">Virtual Stamina</label>
  <div class="resource-content flexrow flex-center flex-between">
  <input type="text" name="system.virtualstamina.value" value="{{system.virtualstamina.value}}" data-dtype="Number" style="color:#03e8fc;"/>
  <span style="color:#03e8fc;"> / </span>
  <input type="text" name="system.virtualstamina.max" value="{{system.virtualstamina.max}}" data-dtype="Number" style="color:#03e8fc;"/>
  </div>
</div>

  <div class="resource flex-group-center">
    <label for="system.daemonrating.value" class="resource-label" style="color:#03e8fc;">Daemon Rating</label>
    <input type="text" name="system.daemonrating.value" value="{{system.daemonrating.value}}" data-dtype="Number" style="color:#03e8fc;"/> </div>

    <div class="resource flex-group-center">
      <label for="system.infiltrationrating.value" class="resource-label" style="color:#03e8fc;">Infiltration Rating</label>
      <input type="text" name="system.infiltrationrating.value" value="{{system.infiltrationrating.value}}" data-dtype="Number" style="color:#03e8fc;"/> </div>

    </div>