<section class="sheet-body" style="padding: 5px">
    <div class="grid-2col">
        <h3 class="grid-span-2" style="justify-self: center; border: none; color:#03e8fc;">Name</h3>
        <div class="flex-group-center">
            <label class="resource-label" style="color:#03e8fc">Base</label>
            <input type="text" value="0" data-dtype="Number" style="color:#03e8fc" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label" style="color:#03e8fc">Skill Rank</label>
            <input type="text" value="0" data-dtype="Number" style="color:#03e8fc" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label" style="color:#03e8fc">Circumstance Dice</label>
            <input type="text" value="0" data-dtype="Number" style="color:#03e8fc" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label" style="color:#03e8fc">Other Modifiers</label>
            <input type="text" value="0" data-dtype="Number" style="color:#03e8fc" />
        </div>
        <div class="flex-group-center grid-start-2">
            <input type="button" class="click-roll" value="Roll" style="color:#03e8fc; background-color: #000000;" />
            <input type="button" class="click-reset" value="Reset to Default" style="color:#03e8fc; background-color: #000000;" />
        </div>
    </div>
</section>