{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="color:#03e8fc" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"
          style="color:#03e8fc" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" style="color:#03e8fc">Description</a>
    <a class="item" data-tab="attributes" style="color:#03e8fc">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description" style="color:#03e8fc">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes" style="color:#03e8fc">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Pronouns:</label>
        <input type="text" name="system.pronouns" value="{{system.pronouns}}" style="width:150px;color:#03e8fc" />
      </div>
      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Metatype:</label>
        <input type="text" name="system.metatype" value="{{system.metatype}}" style="width:150px;color:#03e8fc" />
      </div>
      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Age:</label>
        <input type="text" name="system.age" value="{{system.age}}" style="width:150px;color:#03e8fc" />
      </div>
      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Contact Type:</label>
        <input type="text" name="system.contacttype" value="{{system.contacttype}}" style="width:150px;color:#03e8fc" />
      </div>
      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Favours:</label>
        <input type="text" name="system.favours" value="{{system.favours}}" style="width:150px;color:#03e8fc" />
      </div>

      <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Relationship:</label>
        <input type="text" name="system.relationship" value="{{system.relationship}}"
          style="width:150px;color:#03e8fc" />
      </div>
    </div>

  </section>
</form>