{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="color:#03e8fc"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" style="color:#03e8fc"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" style="color:#03e8fc">Description</a>
    <a class="item" data-tab="attributes" style="color:#03e8fc">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description" style="color:#03e8fc">

      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes" style="color:#03e8fc">
      {{!-- As you add new fields, add them in here! --}}
        <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Vehicle Type:</label>
        <select name="system.vehicletype" style="color: #03e8fc;">
            {{#select system.vehicletype}}
            <option value="Land" style="font: Bios;color: #03e8fc; background: #1e2424">Land</option>
            <option value="Air" style="font: Bios;color: #03e8fc; background: #1e2424">Air</option>
            <option value="Water" style="font: Bios;color: #03e8fc; background: #1e2424">Water</option>

            {{/select}}
          </select>
        </div>

        <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Armor Rating:</label>
        <select name="system.armorrating" style="color: #03e8fc;">
            {{#select system.armorrating}}
            <option value="None" style="font: Bios;color: #03e8fc; background: #1e2424">None</option>
            <option value="Reinforced" style="font: Bios;color: #03e8fc; background: #1e2424">Reinforced</option>
            <option value="Armored" style="font: Bios;color: #03e8fc; background: #1e2424">Armored</option>
            <option value="Heavily Armored" style="font: Bios;color: #03e8fc; background: #1e2424">Heavily Armored</option>
            {{/select}}
          </select>
        </div>


        <div class="resource flex-group-center">
        <label class="resource-label" style="color:#03e8fc">Speed Rating:</label>
        <select name="system.speedrating" style="color: #03e8fc;">
            {{#select system.speedrating}}
            <option value="1" style="font: Bios;color: #03e8fc; background: #1e2424">1</option>
            <option value="2" style="font: Bios;color: #03e8fc; background: #1e2424">2</option>
            <option value="3" style="font: Bios;color: #03e8fc; background: #1e2424">3</option>
            <option value="4" style="font: Bios;color: #03e8fc; background: #1e2424">4</option>
            <option value="5" style="font: Bios;color: #03e8fc; background: #1e2424">5</option>
            {{/select}}
            </select>
        </div>

        <div class="resource flex-group-center">
            <label class="resource-label" style="color:#03e8fc">HP:</label>
            <input type="text" name="system.vehiclehp" value="{{system.vehiclehp}}" data-dtype="Number" style="width:110px;color:#03e8fc"/>
        </div>


  </section>
</form>